@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic);

html,body { height:100%; }
body {
	background: #2E334A;
	font: 13px 'Muli', sans-serif;
	color: #fff;
}


.app {
	text-align: center;

	h1, h2, h3, h4, h5 {
		color: #8EC9D2;
		font: 'Alfa Slab One', cursive, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.25px;
	}

	h1 { font-size: 3em; }
	h2 { font-size: 2em; }

	a {
		color: #fff;
		text-decoration: none;
		font: 'Alfa Slab One', cursive, sans-serif;
		text-transform: uppercase;
		color: #cccccc;
	}

	p {
		font: 15px/30px 'Gentium Book Basic', serif;
		color: #e7e7e7;
		display: inline-block;
		width: 100%;
	}

	input, button {
		color: #636363;
	}

	input[type="text"] {
	  padding: 10px;
	  border: none;
	  border-bottom: solid 2px #c9c9c9;
	  transition: border 0.3s;
	}

	button {
	  padding: 10px;
	  border: none;
	  border-bottom: solid 2px #c9c9c9;
	  transition: border 0.3s;
	}

	input[type="text"]:focus,
	input[type="text"].focus {
	  border-bottom: solid 2px #969696;
	}

	.top-navbar {
		margin: 1em 0;
	}

	.message {
		margin: 1em 0;
	}

	.content-app {
		padding-bottom: 55px;
	}

	footer {
		position: absolute;
    bottom: 1em;
    width: 100%;
		padding: 25 0 0 0.5em;

		img, iframe {
			vertical-align: middle;
		}

		.thanks {
			margin-top: 1em;
			img { margin: 0 1em; }

			.themoviedb { max-height: 20px; }
		}
	}
}
