.match-container {

  .content-wrappper {
    display: block;
  }

  .loading-wrapper {
    display: none;

    p {
      color: white;
      text-align: center;
      margin-top: 12em;
    }
  }

  &.loading {
    .loading-wrapper {
      display: block;
    }

    .content-wrappper {
      display: none;
    }
  }

  &.showing-answer {
    li {
      background-color: red;

      &.correct-answer {
        background-color: green;
      }
    }
  }
}
